<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Calle</th>
        <th scope="col">Casa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let visitas of visita">
        <th scope="row">{{visitas.id}}</th>
        <td>{{visitas.nombre}}</td>
        <td>{{visitas.apellido}}</td>
        <td>{{visitas.calle}}</td>
        <td>{{visitas.casa}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h1 class="textos">Agregar visita </h1>
  <br>
  <h4 class="textos">Datos del propetario</h4>
  <br>

  <div class="container-sm">
    <form>
    <div class="mb-3">
      <label class="form-label">Nombre(s)</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre(s)" name="nombre" [(ngModel)]="addvisita.nombre" > 
    </div>
    <div class="mb-3">
      <label class="form-label">Apellido(s)</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido(s)" name="apellido" [(ngModel)]="addvisita.apellido">
    </div>
    <div class="mb-3">
      <label class="form-label">Calle</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="calle" name="calle" [(ngModel)]="addvisita.calle">
    </div>
    <div class="mb-3">
      <label class="form-label">Casa</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Casa" name="casa" [(ngModel)]="addvisita.casa">
    </div>
    <div id="agregar">
    <button type="submit" role="button" class="btn btn-primary" style="background-color: rgb(58, 50, 173);" (click)="agregar()">Agregar</button>
  </div>
  </form>
  </div>
</div>