<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Servicio</th>
        <th scope="col">Empresa</th>
        <th scope="col">Vehiculo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicios of servicio">
        <th scope="row">{{servicios.id}}</th>
        <td>{{servicios.servicio}}</td>
        <td>{{servicios.empresa}}</td>
        <td>{{servicios.vehiculo}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h1 class="textos">Agregar servicio </h1>
  <br>
  <h4 class="textos">Datos del propetario</h4>
  <br>

  <div class="container-sm">
    <form>
      <div class="mb-3">
        <label class="form-label">Servicio</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="servicio" name="servicio" [(ngModel)]="addservice.servicio">
      </div>
      <div class="mb-3">
        <label class="form-label">Empresa</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="empresa" name="empresa" [(ngModel)]="addservice.empresa">
      </div>
      <div class="mb-3">
        <label class="form-label">Vehiculo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="vehiculo" name="vehiculo" [(ngModel)]="addservice.vehiculo">
      </div>
      <div id="agregar">
        <button type="submit" role="button" (click)="agregar()" class="btn btn-primary" style="background-color: rgb(58, 50, 173);">Agregar</button>
      </div>
    </form>
  </div>