<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



<html lang="es">  
<head>    
    <title>Home</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Inicio de sesion">  
</head>  
<body style="background-color: #F2F2F2;">
    <header>
    <div id="imagenlogin">
        <img src="../assets/images/home.png" width="50%" height="50%" style="margin-top: 10%;">      
</div>
    
        <h1 id="texto"> Inicio de sesion</h1>
        
    </header>    
    

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <a routerLink="home">
      <div class="d-grid gap-2 col-11 mx-auto">
          <br>
        <button class="btn btn-primary" type="button" style="color: white; background-color: #72726D;" >iniciar sesion</button>
        
      </div></a>

            


    <footer>
      <div style="margin-right: 10%;"> 
        
        <h4 style="margin-top: 10%; font-size: 100%; float: left; margin-left: 5%;"><a routerLink="contraolvidada"> ¿contraseña olvidada?</a></h4>
        <h4 href style="margin-top: 10%; font-size: 100%; float: right;"><a routerLink="contraolvidada">Registrarse</a></h4>
      </div>
      

             
    </footer>

</body>  
</html>

