<div class="container">
  <header>
    <div id="imagenlogin">
      <img src="../assets/images/home.png" width="50%" height="50%" style="margin-top: 10%;">
    </div>
    <h1 id="texto"> Inicio de sesion</h1>
  </header>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" [(ngModel)]="user.email" >
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="user.password" >
    <label for="floatingPassword">Password</label>
  </div>

    <div class="d-grid gap-2 col-11 mx-auto">
      <br>
      <button class="btn btn-primary" type="submit" role="button" (click)="login()">iniciar
        sesion</button>
    </div>

  <footer>
    <div style="margin-right: 10%;">
      <h4 style="margin-top: 10%; font-size: 100%; float: left; margin-left: 5%;"><a routerLink="contraolvidada">
          ¿contraseña olvidada?</a></h4>
      <h4 href style="margin-top: 10%; font-size: 100%; float: right;"><a routerLink="contraolvidada">Registrarse</a>
      </h4>
    </div>
  </footer>
</div>