<header id="header">
    <div class="center">

      <!-- LOGO -->
      <div id="logo">
        <a routerLink="inicio">
        <img
          src="assets\images\home.png"
          class="app-logo"
          alt="LogoTipo"
        />
      </a>
      </div>

      <!-- MENU -->
      <nav id="menu">
        <ul>
          <li>
            <a routerLink="visita">visita</a>
          </li>
          <li>
            <a routerLink="addservice">Servicios</a>
          </li>
          <li>
            <a routerLink="perfil">perfil</a>
          </li>
        </ul>
      </nav>

      <div class="clearfix"></div>

    </div>
  </header>

  <router-outlet></router-outlet>