<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<body style="background-color: #F2F2F2;">

<h1 style="margin-top: 10%; font-family: roboto; margin-left:5%;"><b>Registro</b></h1>

<div class="mb-3">
    <br>
    <label for="exampleFormControlInput1" class="form-label" style="font-family: ROBOTO BOLD; margin-left:5%;"><b>Nombre de la privada</b></label>
    <br><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la privada">
  </div>
  <div><br>

      <h3 style="text-align: center;"> Datos del propetario</h3>

  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" style="margin-left:5%;" >Nombre(S)</label>
    <input type="text" class="form-control" id="exampleFormControlInput1"
    >
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" style="margin-left:5%;">Apellido(S)</label>
    <input type="text" class="form-control" id="exampleFormControlInput1"
    >
  </div>

  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"  style="margin-left:5%;">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""
    >
  </div>

  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"  style="margin-left:5%;">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1"
    >
  </div>

  <h4 style="text-align: center;"> Datos del domicilio</h4>

  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"  style="margin-left:5%;">Calle</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"
    >
  </div>

  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"  style="margin-left:5%;">N° exterior</label>
    <input type="password" class="form-control" id="exampleFormControlInput1"
    >
  </div>
  <a href="login">
  <div class="d-grid gap-2 col-11 mx-auto">
    
  <button class="btn btn-primary" type="button" style="color: white; background-color: #72726D;" >Crear usuario</button>
  
</div>
</a>
</body>
